In [6]:
import pandas as pd

file_path = "../data/Major_Towns_and_Cities_Dec_2015_Boundaries_V2_2022_140358522642712462.csv"

In [22]:
df = pd.read_csv(file_path)
df = df.drop(columns=["OBJECTID",  "TCITY15CD", "BNG_E", "BNG_N", "Shape__Area", "Shape__Length", "GlobalID"])
df = df.rename(columns={
    "TCITY15NM": "towns",
    "LONG": "longitude",
    "LAT": "latitude",
})
df["iso-3166-1"] = "GB-ENG"
df["country"] = "England"
df

             towns  longitude  latitude iso-3166-1  country
0         Barnsley  -1.452250  53.56625     GB-ENG  England
1         Basildon   0.488409  51.57661     GB-ENG  England
2      Basingstoke  -1.087930  51.26899     GB-ENG  England
3             Bath  -2.363450  51.37741     GB-ENG  England
4          Bedford  -0.453520  52.14220     GB-ENG  England
..             ...        ...       ...        ...      ...
107         Woking  -0.563290  51.31476     GB-ENG  England
108  Wolverhampton  -2.137960  52.59076     GB-ENG  England
109      Worcester  -2.197840  52.20027     GB-ENG  England
110       Worthing  -0.399230  50.83196     GB-ENG  England
111           York  -1.083570  53.96195     GB-ENG  England

[112 rows x 5 columns]